//laptop
#map-container{
    width:99.7%;
    height:100%;
    position:relative;
    z-index:1;
    @media only screen and (max-width : 959px){
        display:none;
    }   

    .leaflet-container{
        z-index:1;
        height:100%;
        width:100%;
        border:1px solid #053366;
        position:relative;
     }
     
     .leaflet-marker-icon{
         opacity:0.8;
         background-color:transparent;
     }
}

.button-toggler-wrapper{
    display:flex;
    align-self:flex-start;
    margin-left:.5em;
    min-height:0;
    position:relative;
    @media only screen and (max-width : 959px){
        display:none;
    }   

    .button-toggler{
        font-size:clamp(9px, .8vw, 11px);
        @media only screen and (max-height : 600px){
            font-size:clamp(7px, .7vw, 10px);
        }  
        @media only screen and (max-height : 500px){
            font-size:clamp(6px, .6vw, 9px);
        } 
        border-right:1px solid #053366;
        border-left:1px solid #053366;
        border-bottom:1px solid #053366;
        padding:.2em .6em;
        margin-left:.5em;
        background-color:#244c83;
        cursor:pointer;
    }

    .button-toggler-expand{
        border-right:1px solid #053366;
        border-left:1px solid #053366;
        border-bottom:1px solid #053366;
        padding:.2em .6em;
        margin-left:.7em;
        background-color:#244c83;
        cursor:pointer;
        font-size:clamp(11px, 1vw, 15px);
        @media only screen and (max-height : 600px){
            font-size:clamp(10px, 1vw, 13px);
        }  
        @media only screen and (max-height : 500px){
            font-size:clamp(9px, 1vw, 11px);
        }  
    }
}

//tablet
#map-container-tablet{
    width:99.7%;
    height:100%;
    position:relative;
    z-index:1; 
    @media only screen and (min-width : 960px){
        display:none;
    }   
    @media only screen and (max-width : 500px){
        display:none;
    }     

    .leaflet-container{
        z-index:1;
        height:100%;
        width:100%;
        border:1px solid #053366;
        position:relative;
     }
     
     .leaflet-marker-icon{
         opacity:0.8;
         background-color:transparent;
     }
}

.button-toggler-wrapper-tablet{
    display:flex;
    align-self:flex-start;
    min-height:0;
    position:relative; 
    @media only screen and (min-width : 960px){
        display:none;
    }   
    @media only screen and (max-width : 500px){
        display:none;
    }  

    .button-toggler{
        border-right:1px solid #053366;
        border-left:1px solid #053366;
        border-bottom:1px solid #053366;
        padding:.2em .6em;
        margin-left:.7em;
        background-color:#244c83;
        cursor:pointer;
        font-size:clamp(8px, 1.4vw, 14px);
        @media only screen and (max-height : 600px){
            font-size:clamp(8px, 1.3vw, 12px);
        }  
        @media only screen and (max-height : 500px){
            font-size:clamp(7px, 1.3vw, 10px);
        }  
    }   
}