//global today charts and country charts
.chart-container{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    position:relative;
    width:100%;
    height:100%;
    background-color:#474747;

    .chart-wrapper{
        width:47%;
        height:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        margin-top:3.9em;
        position:relative;
        @media only screen and (max-width : 869px) {
            margin-top:5em;
        }
        
        .chart-header{
            font-size:.7em;
            position:relative;
            top:7px;
        }

        .chart{
            width:100%;
            height:70%;
            @media only screen and (max-width : 869px) {
                height:85%;
            }
        }

        .bar-chart{
            margin-top:-1.9em;
        }
    }

    .bar-chart-wrapper{
        align-self:flex-start;
        @media only screen and (max-width : 869px) {
            margin-top:4.4em;
        }

        .chart-header{
            top:-20px;
        }
    }

    .arrow-toggler{
        border:none;
        background-color:transparent;
    }

    .border{
        align-self:flex-end;
        margin-bottom:8px;
        width:1px;
        height:90%;
        background-color:#f5f5f5;
    }
}


//global charts
.global-chart-container{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    width:100%;
    height:100%;
    background-color:#474747;

    .chart-wrapper{
        width:98%;
        height:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        margin-top:3.9em;
        position:relative;

        .chart-header{
            font-size:.7em;
            position:relative;
            top:-15px;
        }

        .chart{
            width:100%;
            height:70%;
            @media only screen and (max-width : 869px) {
                height:85%;
            }
        }
    }

    .bar-chart-wrapper{
        align-self:flex-start;
    }

    .arrow-toggler{
        border:none;
        background-color:transparent;
    }

    .border{
        align-self:flex-end;
        margin-bottom:8px;
        width:1px;
        height:250px;
        background-color:#f5f5f5;
    }
}


//button toggler
.chart-button-toggler-container{
    display:flex;
    position:relative;

    .infected-buttons{
        position:relative;
    }

    .deaths-buttons{
        position:relative;
    }
}

.chart-button-toggler-wrapper{
    display:flex;
    align-self:flex-start;
    min-height:0;
    position:relative;

    .button-toggler{
        font-size:.8em;
        margin-left:1.5em;
        border-right:1px solid #053366;
        border-left:1px solid #053366;
        border-bottom:1px solid #053366;
        padding:.2em .6em;
        background-color:#777;
        cursor:pointer;
    }
}

.chart-button-toggler-wrapper-tablet{
    @media only screen and (min-width : 870px){
        display:none;
    }

    display:flex;
    align-self:flex-start;
    min-height:0;
    position:relative;

    .button-toggler{
        font-size:.7em;
        margin-left:1.5em;
        border-right:1px solid #053366;
        border-left:1px solid #053366;
        border-bottom:1px solid #053366;
        padding:.2em .6em;
        background-color:#777;
        cursor:pointer;
    }
}

.chart-button-toggler-container-tablet{
    @media only screen and (min-width : 870px){
        display:none;
    }
    display:flex;
    position:relative;

    .chart-button-toggler-wrapper{
        display:flex;
        align-self:flex-start;
        min-height:0;
        position:relative;
    
        .button-toggler{
            font-size:.7em;
            margin-left:.7em;
            border-right:1px solid #053366;
            border-left:1px solid #053366;
            border-bottom:1px solid #053366;
            padding:.2em .6em;
            background-color:#777;
            cursor:pointer;
        }
    }

    .infected-buttons{
        position:relative;
    }

    .deaths-buttons{
        position:relative;
    }
}



