.global-chart-container,
.global-chart-container-expand,
.global-chart-container-tablet,
.global-chart-container-tablet-version,
.global-chart-container-mobile-version {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #474747;
    .chart-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}

//global charts
.global-chart-container {
    @media only screen and (max-width: 959px) {
        display: none;
    }

    .chart-wrapper {
        .chart-header {
            height: 7%;
            margin: 5px 0 0 0;
            font-size: clamp(9px, 1vw, 13px);
            @media only screen and (max-height: 700px) {
                font-size: clamp(9px, 0.9vw, 12px);
            }
            @media only screen and (max-height: 600px) {
                font-size: clamp(9px, 0.8vw, 11px);
            }
            @media only screen and (max-height: 550px) {
                font-size: clamp(8px, 0.7vw, 10px);
            }
            @media only screen and (max-height: 500px) {
                font-size: clamp(8px, 0.6vw, 9px);
            }
            @media only screen and (max-height: 450px) {
                font-size: clamp(7px, 0.5vw, 8px);
            }
        }

        .chart {
            width: 98%;
            height: 75%;
        }
    }

    .arrow-toggler {
        background-color: transparent;
        border: none;
    }
}

//global chart expand
.global-chart-container-expand {
    height: 96.5%;

    .chart-wrapper {
        .chart-header {
            height: 3%;
            margin: 5px 0 0 0;
            font-size: clamp(12px, 1vw, 16px);
            @media only screen and (max-height: 700px) {
                font-size: clamp(11px, 1.1vw, 15px);
            }
            @media only screen and (max-height: 600px) {
                font-size: clamp(10px, 1.1vw, 14px);
            }
            @media only screen and (max-height: 550px) {
                font-size: clamp(9px, 1.1vw, 13px);
            }
            @media only screen and (max-height: 500px) {
                font-size: clamp(9px, 1.1vw, 12px);
            }
            @media only screen and (max-height: 450px) {
                font-size: clamp(8px, 1.1vw, 11px);
            }
        }

        .chart {
            width: 100%;
            height: 90%;
        }
    }
}

//tablet
.global-chart-container-tablet,
.global-chart-container-tablet-version,
.global-chart-container-mobile-version {
    
    .chart-wrapper {
        .chart-header {
            height: 3%;
            margin: 5px 0 0 0;
            font-size: clamp(9px, 1.4vw, 14px);
            @media only screen and (max-height: 550px) {
                font-size: clamp(9px, 1.4vw, 13px);
            }
            @media only screen and (max-height: 500px) {
                font-size: clamp(8px, 1.4vw, 12px);
            }
            @media only screen and (max-height: 450px) {
                font-size: clamp(8px, 1.4vw, 11px);
            }
        }

        .chart {
            width: 98%;
            height: 90%;
        }
    }
}

.global-chart-container-tablet {
    @media only screen and (min-width: 960px) {
        display: none;
    }
    @media only screen and (max-width: 500px) {
        display: none;
    }
}

.global-chart-container-hide {
    display: none;
}
