@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap");

//Desktop
.table {
    border-collapse: collapse;
    border-style: hidden;
    background-color: #244c83;
    height: 52%;
    width: 100%;

    @media only screen and (max-width: 959px) {
        display: none;
    }

    tr {
        text-align: center;
        width: 100%;

        td {
            border: 1px solid #f5f5f5;
            width: 50%;

            .panel-header {
                font-size: clamp(9px, 0.6vw, 10px);
                text-align: center;
                @media only screen and (max-height: 600px) {
                    font-size: clamp(8px, 0.5vw, px);
                }
                @media only screen and (max-height: 500px) {
                    font-size: clamp(7px, 0.4vw, 8px);
                }
            }
            .panel-number {
                font-family: "Inconsolata";
                text-align: center;
                font-size: clamp(19px, 1.8vw, 20px);
                margin: 0;
                @media only screen and (max-height: 700px) {
                    font-size: clamp(17px, 1.7vw, 19px);
                }
                @media only screen and (max-height: 600px) {
                    font-size: clamp(15px, 1.6vw, 18px);
                }
                @media only screen and (max-height: 550px) {
                    font-size: clamp(13px, 1.5vw, 17px);
                }
                @media only screen and (max-height: 500px) {
                    font-size: clamp(11px, 1.4vw, 16px);
                }
                @media only screen and (max-height: 450px) {
                    font-size: clamp(10px, 1.3vw, 15px);
                }
            }

            .deaths-number {
                color: #999;
            }
            .recovered-number {
                color: #53900f;
            }

            .infected-panel-header {
                text-align: center;
                font-size: clamp(10px, 1vw, 20px);
                @media only screen and (max-height: 700px) {
                    font-size: clamp(9px, 0.9vw, 18px);
                }
                @media only screen and (max-height: 600px) {
                    font-size: clamp(8px, 0.8vw, 16px);
                }
                @media only screen and (max-height: 550px) {
                    font-size: clamp(7px, 0.7vw, 14px);
                }
                @media only screen and (max-height: 500px) {
                    font-size: clamp(6px, 0.6vw, 12px);
                }
                @media only screen and (max-height: 450px) {
                    font-size: clamp(5px, 0.5vw, 10px);
                }
            }
            .infected-panel-number {
                font-family: "Inconsolata";
                text-align: center;
                font-size: clamp(23px, 2.6vw, 35px);
                color: #c34271;
                margin: 0;
                @media only screen and (max-height: 700px) {
                    font-size: clamp(23px, 2.5vw, 32px);
                }
                @media only screen and (max-height: 600px) {
                    font-size: clamp(21px, 2.4vw, 29px);
                }
                @media only screen and (max-height: 550px) {
                    font-size: clamp(19px, 2.3vw, 26px);
                }
                @media only screen and (max-height: 500px) {
                    font-size: clamp(17px, 2.2vw, 23px);
                }
                @media only screen and (max-height: 450px) {
                    font-size: clamp(15px, 2.2vw, 20px);
                }
            }
        }
    }
}

.country-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #244c83;
    border: 1px solid #053366;
    height: 21%;
    padding: 0;
    width: 100%;

    @media only screen and (max-width: 959px) {
        display: none;
    }

    .panel-header {
        font-size: clamp(10px, 0.8vw, 14px);
        @media only screen and (max-height: 700px) {
            font-size: clamp(9px, 0.7vw, 13px);
        }
        @media only screen and (max-height: 600px) {
            font-size: clamp(8px, 0.6vw, 12px);
        }
        @media only screen and (max-height: 550px) {
            font-size: clamp(7px, 0.5vw, 11px);
        }
    }

    .panel-number {
        font-size: clamp(24px, 2vw, 35px);
        margin: 0;
        @media only screen and (max-height: 700px) {
            font-size: clamp(23px, 1.9vw, 32px);
        }
        @media only screen and (max-height: 600px) {
            font-size: clamp(21px, 1.8vw, 29px);
        }
        @media only screen and (max-height: 550px) {
            font-size: clamp(19px, 1.7vw, 26px);
        }
        @media only screen and (max-height: 500px) {
            font-size: clamp(17px, 1.6vw, 23px);
        }
        @media only screen and (max-height: 450px) {
            font-size: clamp(15px, 1.5vw, 20px);
        }
    }
}

.last-update-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #244c83;
    border: 1px solid #053366;
    height: 21%;
    width: 100%;

    @media only screen and (max-width: 959px) {
        display: none;
    }

    .panel-header {
        font-size: clamp(10px, 0.8vw, 14px);
        @media only screen and (max-height: 700px) {
            font-size: clamp(9px, 0.7vw, 13px);
        }
        @media only screen and (max-height: 600px) {
            font-size: clamp(8px, 0.6vw, 12px);
        }
        @media only screen and (max-height: 550px) {
            font-size: clamp(7px, 0.5vw, 11px);
        }
    }
    .panel-number {
        font-size: clamp(14px, 1.4vw, 23px);
        margin: 0;
        @media only screen and (max-height: 700px) {
            font-size: clamp(14px, 1.3vw, 22px);
        }
        @media only screen and (max-height: 600px) {
            font-size: clamp(13px, 1.2vw, 21px);
        }
        @media only screen and (max-height: 550px) {
            font-size: clamp(12px, 1.1vw, 20px);
        }
        @media only screen and (max-height: 500px) {
            font-size: clamp(11px, 1vw, 19px);
        }
        @media only screen and (max-height: 450px) {
            font-size: clamp(10px, 1vw, 18px);
        }
    }
}

//Tablet and Mobile
.table-expand,
.table-tablet,
.table-tablet-version,
.table-mobile,
.table-mobile-version {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
    background-color: #244c83;

    tr {
        text-align: center;
        width: 100%;

        td {
            border: 1px solid #f5f5f5;
            width: 50%;

            .panel-header {
                text-align: center;
                font-size: clamp(10px, 1.3vw, 19px);
                @media only screen and (max-height: 600px) {
                    font-size: clamp(9px, 1.3vw, 17px);
                }
                @media only screen and (max-height: 550px) {
                    font-size: clamp(9px, 1.3vw, 15px);
                }
            }

            .panel-number {
                font-family: "Inconsolata";
                text-align: center;
                margin: 10px 0 0 0;
                font-size: clamp(35px, 3.2vw, 46px);
                @media only screen and (max-height: 700px) {
                    font-size: clamp(33px, 3.2vw, 42px);
                }
                @media only screen and (max-height: 600px) {
                    font-size: clamp(31px, 3.2vw, 39px);
                }
                @media only screen and (max-height: 550px) {
                    font-size: clamp(29px, 3.2vw, 36px);
                    margin: 5px 0 0 0;
                }
                @media only screen and (max-height: 500px) {
                    font-size: clamp(27px, 3.2vw, 33px);
                }
                @media only screen and (max-height: 450px) {
                    font-size: clamp(25px, 3.2vw, 30px);
                }
            }

            .deaths-number {
                color: #999;
            }

            .recovered-number {
                color: #53900f;
            }

            .lastUpdate-number {
                line-height: 1em;
                font-size: clamp(20px, 3.2vw, 46px);
                @media only screen and (max-height: 700px) {
                    font-size: clamp(19px, 3.2vw, 42px);
                }
                @media only screen and (max-height: 600px) {
                    font-size: clamp(18px, 3.2vw, 39px);
                }
                @media only screen and (max-height: 550px) {
                    font-size: clamp(17px, 3.2vw, 36px);
                    margin: 5px 0 0 0;
                }
                @media only screen and (max-height: 500px) {
                    font-size: clamp(16px, 3.2vw, 33px);
                }
                @media only screen and (max-height: 450px) {
                    font-size: clamp(15px, 3.2vw, 30px);
                }
            }

            .infected-panel-number {
                font-family: "Inconsolata";
                text-align: center;
                color: #c34271;
                margin: 10px 0 0 0;
                font-size: clamp(45px, 4.2vw, 64px);
                @media only screen and (max-height: 700px) {
                    font-size: clamp(42px, 4.2vw, 61px);
                }
                @media only screen and (max-height: 600px) {
                    font-size: clamp(39px, 4.2vw, 58px);
                }
                @media only screen and (max-height: 550px) {
                    font-size: clamp(36px, 4.2vw, 55px);
                    margin: 5px 0 0 0;
                }
                @media only screen and (max-height: 500px) {
                    font-size: clamp(33px, 4.2vw, 52px);
                }
                @media only screen and (max-height: 450px) {
                    font-size: clamp(30px, 4.2vw, 49px);
                }
            }
        }
    }
}

.table-expand {
    @media only screen and (max-width: 959px) {
        display: none;
    }
}

//Tablet
.table-tablet {
    @media only screen and (min-width: 960px) {
        display: none;
    }
    @media only screen and (max-width: 500px) {
        display: none;
    }
}

//Mobile
.table-mobile {
    @media only screen and (min-width: 501px) {
        display: none;
    }
}

.table-hide,
.country-panel-hide,
.last-update-panel-hide {
    display: none;
}
