@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap');

/* body */
#app{
    font-family:"Work Sans";
    overscroll-behavior: none;
    margin:0;
    
    @media only screen and (min-width : 870px){
        overflow-y:hidden;
        height:100vh;
    }  
}

/* header */
header{
    display:flex;
    align-items:center;
    background-color:#104c87;
    box-sizing:border-box;
    height:50px;
    width:100%;
    position:fixed;
    top:0;
    z-index:2;
    
    img{
        width:72px;
        height:50px;
    }
    #header-title{
        display:flex;
        align-items:center;
        margin-left:1em;
        h1{
            font-weight:300;
            @media only screen and (max-width : 869px){
                font-size:1.3em;
            }  
        }
    }
    #header-border{
        width:1px;
        height:40px;
        margin:0 .5em;
        background-color:#f5f5f5;
    }
    #header-footer{
        display:flex;
        flex-direction:column;
        @media only screen and (max-width : 869px){
            font-size:.8em;
        }  
    }
    #nav{
        display:flex;
        margin-left:auto;
        a{
            font-size:2em;
            margin:0 .5em;
            @media only screen and (max-width : 869px){
                font-size:1.5em;
            }  
        }
    }
}



/* main */

#laptop{
    position:relative;
    top:52px;
    margin:5px;
    @media only screen and (max-width : 869px){
        display:none;
    }   
    .row{
        display:flex;
        justify-content:space-evenly;
        margin:auto; 
        
       
    }
}

#tablet{
    position:relative;
    top:52px;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:5px;
    
    @media only screen and (min-width : 870px){
        display:none;
    }
}

// laptop

#infected-card{
    height:57vh;
    min-height:0;
    width:17%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    position:relative;
}
.deaths-active-card{
    max-width:100%;
    width:14.5%;
    height:53vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    position:relative;
}
#map{
    max-width:100%;
    height:53vh;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
}
#info-panel{
    height:35vh;
    width:17%;
    max-width:100%;
    margin-top:5px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    position:relative;
}
#country-picker-chart{
    width:54.3%;
    height:38vh;
    margin:-1.5em 5px 5px 5px;
    position:relative;
    background-color :#474747;
}
#global-chart{
    width:27.15%;
    height:38vh;
    margin-top:-1.3em;
    margin:-1.5em 5px 5px 5px;
    position:relative;
}

//expand and shrink 
.expand-icon{
    position:absolute;
    z-index:2;
    top:0;
    right:0;
    opacity:0.8;
    cursor:pointer;
}
.shrink-icon{
    position:absolute;
    z-index:2;
    opacity:0.8;
    top:0;
    right:0;
    cursor:pointer;
}
.expand{
    width:100%;
    height:100vh;
}
.hide{
    display:none !important;
}

//tablet

#infected-card-tablet{
    width:98%;
    height:80vh;
    margin-bottom:4em;
    position:relative;
}
.deaths-active-card-tablet{
    width:98%;
    height:80vh;
    margin-bottom:4em;
    position:relative;
}
#map-tablet{
    width:98%;
    height:80vh;
    margin-bottom:4em;
    position:relative;
}
#info-panel-tablet{
    width:98%;
    height:80vh;
    margin-bottom:2em;
}
#country-picker-chart-tablet{
    width:96%;
    height:80vh;
    margin:5px 5px 4em 5px;
    background-color :#474747;
    position:relative;
}
#global-chart-tablet{
    width:96%;
    height:80vh;
    margin:5px 5px 4em 5px;
}

