@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap');

#app-wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
}
#header{
    font-size:3em;
    display:flex;
    font-family:"Archivo";
}
#icon{
    position:relative;
    top:65px;
}
#maps-wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
}
#map-toggler{
    display:flex;
    align-self:flex-start;
    margin-left:1em;
}
.toggler{
    border:1px solid black;
    margin-right:1em;
}