@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap");

.card-container,
.card-container-expand,
.card-container-tablet,
.card-container-tablet-version,
.card-container-mobile,
.card-container-mobile-version {
    .active-num {
        color: #e85a4f;
        font-family: "Inconsolata";
    }

    .incidentRate-num {
        color: #d6ce15;
        font-family: "Inconsolata";
    }

    .card-header-incident {
        padding: clamp(0px, 1.5vh, 20px) 0;
    }
}
