@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap');

.infected-card-container{
    max-width:100%;
    height:92%;
    border:1px solid #053366;
    margin:5px;
    border-radius:3px;
    display:flex;
    flex-direction:column;
    min-width:145px;
    background-color:#244c83;
    position:relative;
    
    @media only screen and (max-width : 869px){
        display:none;
    }   
    
    .infected-num{
        color:#C34271;
        font-family:"Inconsolata";
    }
    .card-header{
        text-align:center;
        border-bottom:1px solid #f5f5f5;
        padding:1.5em 0 .5em 0;
        line-height:.5em;

        .card-header-text{
            @media only screen and (max-width : 1150px){
                font-size:.8em;
            }
        }

        .card-header-num{
            font-size:2.5em;
            @media only screen and (max-width : 1350px) {
                font-size:2em;
            }
            @media only screen and (max-height : 650px){
                font-size:2em;
            }   
            @media only screen and (max-width : 1250px) {
                font-size:1.7em;
            }
            
        }
    }

    .country-card-note{
        text-align:center;
        padding:.5em 0;
        font-size:.9em;
        display:flex;
        flex-direction:column;
    }

    .province-card-note{
        text-align:center;
        padding:.4em 0;
        font-size:.9em;
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        @media only screen and (max-width : 1200px) {
            font-size:.7em;
        }
    }

    .ul{
        overflow-y:auto;
        
        .country-list{
            padding:.7em;
            border-bottom:1px solid #f5f5f5;
            display:flex;
            align-items:center;
            flex-wrap:wrap;
            padding-left:.3em;
            }
        }

        .province-list{
            padding:.3em;
            border-bottom:1px solid #f5f5f5;
            display:flex;
            flex-direction:column;

            .province-list-cases{
                font-size:.8em;
                color:#f5f5f5;
                font-family:"Work Sans";
            }

            .province-list-place{
                font-size:.9em;
                
            }
        }
        .list-num{
            font-size:1.1em;
            margin-right:.2em;
            display:flex;
            align-items:center;
            flex-wrap:wrap;
            .province-list-cases{
                margin-left:.2em;
            }
        }

    }

// card toggler 

.arrow-toggler{
    background-color:#244c83;
    border-right:1px solid #053366;   
    border-left:1px solid #053366;
    border-bottom:1px solid #053366;
    position:relative;
    top:-6px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:70%;
    padding:0 1em;

    @media only screen and (max-width : 869px){
        display:none;
    }   

    .arrow-icon{
        color:#f5f5f5;
        font-size:1.5em;
    }

    .card-toggler-text{
        font-size:.7em;
    }
}

.ul::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
   
}

.ul::-webkit-scrollbar
{
	width: 8px;
    background-color: #F5F5F5;
    border-radius:3px;
}

.ul::-webkit-scrollbar-thumb
{
    background-color: #999;
    border-radius:3px;
}

// responive
.infected-card-container-mobile{
    @media only screen and (min-width : 870px){
        display:none;
    }

    width:98%;
    height:100%;
    max-height:700px;
    max-width:100%;
    border:1px solid #053366;
    margin:5px;
    border-radius:3px;
    display:flex;
    flex-direction:column;
    min-width:145px;
    background-color:#244c83;
    
    .infected-num{
        color:#C34271;
        font-family:"Inconsolata";
    }
    .card-header{
        text-align:center;
        border-bottom:1px solid #f5f5f5;
        padding:1.5em 0 .5em 0;
        line-height:.5em;
        font-size:1em;

        .card-header-text{
            font-size:1em;
        }

        .card-header-num{
            font-size:2.5em;
        }
    }
    .country-card-note{
        text-align:center;
        padding:.5em 0;
        font-size:.9em;
        display:flex;
        flex-direction:column;
    }

    .province-card-note{
        text-align:center;
        padding:.4em 0;
        font-size:.9em;
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        @media only screen and (max-width : 1200px) {
            font-size:.7em;
        }
    }

    .ul{
        overflow-y:auto;
        
        .country-list{
            padding:.7em;
            border-bottom:1px solid #f5f5f5;
            display:flex;
            align-items:center;
            flex-wrap:wrap;
            padding-left:.3em;
            }
        }

        .province-list{
            padding:.3em;
            border-bottom:1px solid #f5f5f5;
            display:flex;
            flex-direction:column;

            .province-list-cases{
                font-size:.8em;
                color:#f5f5f5;
                font-family:"Work Sans";
            }

            .province-list-place{
                font-size:.9em;
                
            }
        }
        .list-num{
            font-size:1.1em;
            margin-right:.2em;
            display:flex;
            align-items:center;
            flex-wrap:wrap;
            .province-list-cases{
                margin-left:.2em;
            }
        }
}

.arrow-toggler-mobile{
    @media only screen and (min-width : 870px){
        display:none;
    }

    background-color:#244c83;
    border-right:1px solid #053366;   
    border-left:1px solid #053366;
    border-bottom:1px solid #053366;
    position:relative;
    top:-6px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:70%;
    padding:0 1em;

    .arrow-icon{
        color:#f5f5f5;
        font-size:1.5em;
    }

    .card-toggler-text{
        font-size:.7em;
    }
}

