@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap");

.card-container,
.card-container-expand,
.card-container-tablet,
.card-container-tablet-version,
.card-container-mobile-version {
    .deaths-num {
        color: #999;
        font-family: "Inconsolata";
    }

    .recovered-num {
        font-family: "Inconsolata";
        color: #53900f;
    }
}
